{block title}
        Patch
{/block}

{block content}

        <h1 class="center">Patch</h1>
{*        <table>
        {foreach $patchs as $patch}
            <tr>
                <td>
                    {$patch->name}
                </td>
                <td>
                    {$patch->version}
                </td>
            </tr>
        {/foreach}
        </table>
*}
{/block}
