{block title}
    Administrace
{/block}

{block content}

    <p><a n:href="Admin:requests">Správa žádostí</a></p>
    <p><a n:href="Admin:create">Napiš novinku</a></p>
    <p><a n:href="Events:create">Nový event</a></p>

{/block}
